courseOfferingRatingParamModelModel.create({ course_offering_id: req.body.courseOfferingId, rating_param_id: req.body.ratingParamId, weight: req.body.weight, max_value: req.body.maxValue })
extends adminLayout
block content
    div
        h2 Create a new Course Offering Rating Parameter
        form.form-horizontal(method='post', action ='')
            div.form-group
                label.col-md-2.control-label Select Course Offering
                div.col-md-10
                    select.form-control(name="courseOfferingId")
                        -for courseOffering in courseOfferings
                            option(value="#{courseOffering.id}") #{courseOffering.course.course_number} #{courseOffering.course.course_name} #{courseOffering.year} / #{courseOffering.semester}
            div.form-group
                label.col-md-2.control-label Select Question
                div.col-md-10
                    select.form-control(name="ratingParamId")
                        -for ratingParam in ratingParams
                            option(value="#{ratingParam.id}") #{ratingParam.name}
            div.form-group
                label.col-md-2.control-label Weight
                div.col-md-10
                    input.form-control(type="text" name="weight" placeholder="Weight of the Rating Parameter")
            div.form-group
                label.col-md-2.control-label Maximum Value
                div.col-md-10
                    input.form-control(type="text" name="maxValue" placeholder="Maximum Value")
            div.form-group
                button.btn.btn-primary.col-md-offset-10(type = 'submit') Submit
