extends adminLayout
block content
    div
        h2.col-md-10 User
        button.btn.btn-primary.col-md-2 ADD
        table.table.table-hover
            tr
                td #
                td User Name
                td Login Id
                td Email
                td Photograph URL
                td Password Token
                td Actions
            -for user in users
                tr
                    td #{user.id}
                    td #{user.first_name}
                    td #{user.login}
                    td #{user.email}
                    td #{user.photo_url}
                    td #{user.password_token}
                    td.row
                        a(href='view/#{user.id}/')
                            i.fa.fa-eye.fa-2(title='View')
                        a(href='update/#{user.id}/')
                            i.fa.fa-pencil-square-o.fa-2(title='Update')
                        a(href='delete/#{user.id}/')
                            i.fa.fa-trash-o.fa-2(title='Delete')



