extends adminLayout
block content
    div
        h2.col-md-10 Rating Param
        button.btn.btn-primary.col-md-2 ADD
        table.table.table-hover
            tr
                td #
                td Parameter
                td Type
                td Sort Order
                td Actions
            - for ratingParam in ratingParams
                tr
                    td #{ratingParam.id}
                    td #{ratingParam.name}
                    td #{ratingParam.type}
                    td #{ratingParam.sort_order}
                    td.row
                        a(href='view/#{ratingParam.id}/')
                            i.fa.fa-eye.fa-2(title='View')
                        a(href='update/#{ratingParam.id}/')
                            i.fa.fa-pencil-square-o.fa-2(title='Update')
                        a(href='delete/#{ratingParam.id}/')
                            i.fa.fa-trash-o.fa-2(title='Delete')



