extends adminLayout
block content
    div
        h2.col-md-10 User
        a.btn.btn-primary.col-md-2(href="create/") ADD
        table.table.table-hover
            tr
                td #
                td Name
                td Username
                td Email
                td Actions
            -for user in users
                tr
                    td #{user.id}
                    td #{user.first_name} #{user.last_name}
                    td #{user.login}
                    td #{user.email}
                    td.row
                        a(href='view/#{user.id}/')
                            i.fa.fa-eye.fa-2(title='View')
                        a(href='update/#{user.id}/')
                            i.fa.fa-pencil-square-o.fa-2(title='Update')
                        a(href='delete/#{user.id}/')
                            i.fa.fa-trash-o.fa-2(title='Delete')



