extends adminLayout
block content
    div
        h2.col-md-10 Spam
        a.btn.btn-primary.col-md-2(href="create/") ADD
        table.table.table-hover
            tr
                td #
                td Reporter
                td Spammer's Item
                td Time
                td Resolved
                td Actions
            - for spam in spams
                tr
                    td #{spam.id}
                    td #{spam.user.first_name}
                    -if(spam.type==0){
                    td
                        a(href='/admin/discussion/view/#{spam.item_id}/') Discussion
                    -} else {
                    td Review
                    -}
                    - var timeago = moment(String(spam.create_time),"X").fromNow();
                    td #{timeago}
                    td #{spam.is_resolved}
                    td.row
                        a(href='update/#{spam.id}/')
                            i.fa.fa-pencil-square-o.fa-2(title='Update')
                        a(href='delete/#{spam.id}/')
                            i.fa.fa-trash-o.fa-2(title='Delete')



//TODO complete this. right now it is all wrong