-user = user
extends adminLayout
block content
    div.well.row
        h2 User Name: #{user.first_name} #{user.last_name}
        div.well
            b ID:
            |   #{user.id}
            br
            b Login ID:
            |   #{user.login}
            br
            b Email:
            |   #{user.email}
            br
            b Last Login:
            |   #{user.last_login}
            br
            b Last IP:
            |   #{user.last_ip}
            br
            b Online:
            |   #{user.is_active}
            br
            b Photo Url:
            |   #{user.photo_url}
            br
            b Password Token :
            |   #{user.password_token}
            br
        a.btn.btn-primary.col-md-offset-3.col-md-2(href="../../update/#{user.id}/") UPDATE
        a.btn.btn-danger.col-md-offset-1.col-md-2(href="../../delete/#{user.id}/") DELETE

                                   