extends adminLayout
block content
    div
        h2.col-md-10 Spam
        a.btn.btn-primary.col-md-2(href="create/") ADD
        table.table.table-hover
            tr
                td #
                td User Name
                td Type
                td Spam Count
                td Resolved
                td Actions
            - for spam in spams
                tr
                    td #{spam.id}
                    td #{spam.rating.user.first_name}
                    td #{review.rating.course_offering.course.course_name}
                    td #{review.rating.course_offering.year} / #{review.rating.course_offering.semester}
                    td #{review.spam_flag_count}
                    td #{review.is_deleted}
                    td.row
                        a(href='view/#{review.id}/')
                            i.fa.fa-eye.fa-2(title='View')
                        a(href='update/#{review.id}/')
                            i.fa.fa-pencil-square-o.fa-2(title='Update')
                        a(href='delete/#{review.id}/')
                            i.fa.fa-trash-o.fa-2(title='Delete')



