extends adminLayout
block content
    div
        h2.col-md-10 Discussion
        a.btn.btn-primary.col-md-2(href="create/") ADD
        table.table.table-hover
            tr
                td #
                td Name
                td Course
                td Comment
                td Actions
            - for discussion in discussions
                tr
                    td #{discussion.id}
                    td #{discussion.user.first_name}
                    td #{discussion.course.course_name}
                    td #{discussion.comment}
                    td.row
                        a(href='view/#{discussion.id}/')
                            i.fa.fa-eye.fa-2(title='View')
                        a(href='update/#{discussion.id}/')
                            i.fa.fa-pencil-square-o.fa-2(title='Update')
                        a(href='delete/#{discussion.id}/')
                            i.fa.fa-trash-o.fa-2(title='Delete')




