extends adminLayout
block content
    div
        h2.col-md-10 Discussion
        button.btn.btn-primary.col-md-2 ADD
        table.table.table-hover
            tr
                td #
                td Name
                td Course
                td Actions
            - for discussion in discussions
                tr
                    td #{discussion.id}
                    td #{discussion.first_name} #{discussion.last_name}
                    td #{discussion.course_name}
                    td.row
                        a(href='view/#{discussion.id}/')
                            i.fa.fa-eye.fa-2(title='View')
                        a(href='update/#{discussion.id}/')
                            i.fa.fa-pencil-square-o.fa-2(title='Update')
                        a(href='delete/#{discussion.id}/')
                            i.fa.fa-trash-o.fa-2(title='Delete')




