extends adminLayout
block content
    div
        h2.col-md-10 Rating
        a.btn.btn-primary.col-md-2(href="create/") ADD
        table.table.table-hover
            tr
                td #
                td Name
                td Anonymous
                td Course
                td Year / Sem
                td Actions
            -for rating in ratings
                tr
                    td #{rating.id}
                    td #{rating.user.first_name}
                    td #{rating.as_anon}
                    td #{rating.course_offering.course.course_name}
                    td #{rating.course_offering.year} / #{rating.course_offering.semester}
                    td.row
                        a(href='view/#{rating.id}/')
                            i.fa.fa-eye.fa-2(title='View')
                        a(href='update/#{rating.id}/')
                            i.fa.fa-pencil-square-o.fa-2(title='Update')
                        a(href='delete/#{rating.id}/')
                            i.fa.fa-trash-o.fa-2(title='Delete')



