-courseOfferings = courseOfferings
extends adminLayout
block content
    div
        h2.col-md-10 Course Offering
        a.btn.btn-primary.col-md-2(href="create/") ADD
        table.table.table-hover
            tr
                td #
                td Course Number
                td Course Name
                td Year / Sem
                td Professor
                td Actions
            -for courseOffering in courseOfferings
                tr
                    td #{courseOffering.id}
                    td #{courseOffering.course.course_number}
                    td #{courseOffering.course.course_name}
                    td #{courseOffering.year} / #{courseOffering.semester}
                    td #{courseOffering.professor.first_name} #{courseOffering.professor.last_name}
                    td.row
                        a(href='view/#{courseOffering.id}/')
                            i.fa.fa-eye.fa-2(title='View')
                        a(href='update/#{courseOffering.id}/')
                            i.fa.fa-pencil-square-o.fa-2(title='Update')
                        a(href='delete/#{courseOffering.id}/')
                            i.fa.fa-trash-o.fa-2(title='Delete')




