extends layout
block content
    div.container
        h2 Meeting Requests
        table.table.table-hover
            tr
                td Name
                td Message
                td Status
                td Reply
                td
                td Approved Time
            -for meet in meets
                tr
                    td #{meet.user.first_name} #{meet.user.last_name}
                    td #{meet.user_message}
                    -var status;
                    - if(meet.status==1) status="PENDING"; else if(meet.status==2) status="REJECTED"; else status="ACCEPTED";
                    td #{status}
                    td #{meet.professor_reply}
                    -if(meet.status==1){
                    td
                        a(href='/faculty/meet/approve/#{meet.id}/').btn.btn-success APPROVE
                    td
                        a(href='/faculty/meet/reject/#{meet.id}/').btn.btn-danger  REJECT
                    -} else {
                    td
                    td #{meet.approved_time}
                    -}
