extends layout
block content
    script.
        $(document).ready(function(){
            $(".glyphicon-minus-sign").hide();
            $(".label-default").hide();
            $(".label-success").hide();
        });
    div.container
        -course=courseOffering
        -professor=course.professor
        -ratingValues=course.cumulative_rating_values
        -ratings=course.ratings
        div.col-md-9
            div.row
                h1.col-md-10 #{course.course.course_name}
                a.col-md-2.btn.btn-success(href='rate/') RATE
            h4 Year #{course.year} Semester #{course.semester} by #{professor.first_name} #{professor.last_name}
            div.row
                h3 Ratings by Students
                div.box-shadow.row(style="width:100%")
                    - for ratingValue in ratingValues
                        div.row
                            div.col-md-8
                                h4 #{ratingValue.rating_param.name}
                            div.col-md-4
                                input.rating.form-control(type="number" value="#{ratingValue.value}" min=0 max=5 step=0.1 data-size="xs" disabled="true")
                div.row
                h3 Reviews
                -for rating in ratings
                    - review = rating.review
                    - user = rating.user
                    - var timeago = moment(String(rating.create_time),"X").fromNow();
                    - var actualTime = moment.unix(rating.create_time).format("YYYY-MM-DD HH:mm");

                    div.box-shadow.row(style="padding:15px 0px 10px; width:100%")
                        div.col-md-1
                            -if(rating.as_anon==false){
                            a(href="/user/#{user.login}/")
                                img(src="#{user.photo_url}" width="150%" style="max-width:100px;")
                            -} else {
                            img(src="/images/anon.jpg" width="150%" style="max-width:100px;")
                            -}
                        div.col-md-11
                            -if(rating.as_anon==false){
                            a(href="/user/#{user.login}/")
                                b #{user.first_name} #{user.last_name}
                            -} else {
                            b Anonymous
                            -}
                            small.pull-right
                                a(href="#" style="color:#333333" title="#{actualTime}") #{timeago}
                            br
                            b Course:
                            |  #{review.course_comment}
                            br
                            b Professor:
                            |  #{review.prof_comment}
                            br
                            small
                                a(href="#").pull-right Report Spam
        div.col-md-3
            h3.pull-right Visualizations


