extends layout
block content
    div.container
        -course=courseOffering
        -professor=course.professor
        -ratingValues=course.cumulative_rating_values
        -ratings=course.ratings


        div.col-md-9
            div.row
                h1.col-md-10 #{course.course.course_name}
                a.col-md-2.btn.btn-success(href='rate/') RATE
            h4 Year #{course.year} Semester #{course.semester} by #{professor.first_name} #{professor.last_name}
            div.well.row
                h3 Ratings by Students
                - for ratingValue in ratingValues
                    div.row
                        div.col-md-9
                            h4 #{ratingValue.rating_param.name}
                        div.col-md-3.star-rating.rating-xs
                            div.rating-container.rating-gly-star(data-content="")
                                -var val = ratingValue.value * 20
                                div.rating-stars(data-content="" style="width: #{val}%;")
            div.well.row
                h3 Reviews
                -for rating in ratings
                    - review = rating.review
                    - user = rating.user
                    div.box-shadow.row
                        div.col-md-2
                            img(src="#{user.photo_url}", width="70%")
                        div.col-md-10
                            b #{user.first_name} #{user.last_name}
                            p Course: #{review.course_comment}
                            p Professor: #{review.prof_comment}


        div.col-md-3
            h3 Visualizations


