extends layout
block content
    div.container
        script.
            function reportSpam (courseId, discussionId)
            {
                $.post('/course/'+courseId+'/discussion/spam/'+discussionId+'/');
            }
        -discussions = course.discussions
        h2 #{course.course_number} #{course.course_name}
        div.row
            div.col-md-7.well
                h3 Description
                p(style="white-space:pre-wrap") #{course.description}

            div.col-md-5.well
                h3 Offerings
                -offerings=course.course_offerings
                -for offering in offerings
                    div.box-shadow(style="width:100%")
                        a(href='/course/#{course.id}/#{offering.id}/') Year #{offering.year} Semester #{offering.semester}
                        |  by
                        a(href="/professor/#{offering.professor.id}/")  Professor #{offering.professor.first_name} #{offering.professor.last_name}
        div.row
            h3 Discussions
            -for discussion in discussions
                -if(discussion.is_deleted==false) {
                - user = discussion.user
                - var timeago = moment(String(discussion.create_time),"X").fromNow();
                - var actualTime = moment.unix(discussion.create_time).format("YYYY-MM-DD HH:mm");
                div.box-shadow.row(style="padding:15px 0px 10px;")
                    -if(discussion.as_anon==false) {
                    div.col-md-1
                        a(href="/user/#{user.login}/")
                            -if(user.photo_url) {
                            img(src="#{user.photo_url}" width="100%" style="max-width:100px;")
                            -} else {
                            img(src="/images/anon.jpg" width="100%" style="max-width:100px;")
                            -}
                    div.col-md-11
                        a(href="/user/#{user.login}/")
                            b #{user.first_name} #{user.last_name}
                        small.pull-right
                            a(href="#" style="color:#333333" title="#{actualTime}") #{timeago}
                        br
                        |  #{discussion.comment}
                        small
                            -if(session.user) {
                            a(onclick="reportSpam(#{course.id},#{discussion.id}); this.innerHTML='Reported';").pull-right Report Spam
                            -} else {
                            a(onclick="this.innerHTML='Please login to report';").pull-right Report Spam
                            -}
                    -} else {
                    div.col-md-1
                        img(src="/images/anon.jpg" width="100%" style="max-width:100px;")
                    div.col-md-11
                        b Anonymous
                        small.pull-right
                            a(href="#" style="color:#333333" title="#{actualTime}") #{timeago}
                        br
                        |  #{discussion.comment}
                        small
                            -if(session.user) {
                            a(onclick="reportSpam(#{course.id},#{discussion.id}); this.innerHTML='Reported';").pull-right Report Spam
                            -} else {
                            a(onclick="this.innerHTML='Please login to report';").pull-right Report Spam
                            -}
                    -}
                -}
            -if(!session.user) {
            -} else {
            div.box-shadow.row(style="padding:15px 0px 10px;")
                form.form-horizontal(method='post', action ='')
                    div.col-md-1
                        -if(session.photoURL){
                        img(src="#{session.photoURL}" width="100%" style="max-width:100px;")
                        -} else {
                        img(src="/images/anon.jpg" width="100%" style="max-width:100px;")
                        -}


                    div.col-md-10
                        textarea.form-control(type="textarea" rows="3" name="discussion" placeholder="Add your comment")
                    input(type="checkbox" name="asAnon")
                    small  Anonymous
                    button.btn.btn-primary.pull-right(type = 'submit' style="bottom:10px; right:10px; position: absolute; ") POST
            -}