extends layout
block content
    div.container
        -course=course
        div.container
            h2.col-md-11 #{course.course_name}
            button.btn.btn-primary.col-md-1 RATE
        p.well(style="white-space:pre-wrap") #{course.description}
        h3 Offerings:
            ul
            -offerings=course.course_offerings
            -for offering in offerings
                li.well
                    a(href='/course/#{course.id}/#{offering.id}/') Year #{offering.year} Semester #{offering.semester}
                    |  by
                    a(href="/professor/#{offering.professor.id}/")  #{offering.professor.first_name} #{offering.professor.last_name}
