extends layout
block content
    div.container
        h2 Meeting Requests
        table.table.table-hover.box-shadow
            tr
                td Message
                td Professor
                td Status
                td Reply
                td Approved Date
                td Approved Time
            -for meet in meets
                tr
                    td #{meet.user_message}
                    td #{meet.professor.first_name} #{meet.professor.last_name}
                    -var status;
                    - if(meet.status==1) status="PENDING"; else if(meet.status==2) status="REJECTED"; else status="ACCEPTED";
                    td #{status}
                    td #{meet.professor_reply}
                    -if(meet.status==1){
                    -} else {
                    td #{meet.approved_date}
                    td #{meet.approved_time}
                    -}
