extends layout
block content
    div.container
        div.row
            h1(align="center") Professors
        div
        -for professor in professors
            div.col-md-offset-2.col-md-8(style="margin-top:80px;")
                div.box-shadow(style="width:100%").row
                    div.col-md-4
                        -if(professor.photo_url) {
                        img(src="#{professor.photo_url}" width="100%" style="max-width:200px")
                        -} else {
                        img(src="/images/anon.jpg" width="100%" style="max-width:200px")
                        -}
                    div.col-md-8
                        -if(professor.homepage_url){
                        a(href="#{professor.homepage_url}")
                            h1 #{professor.first_name} #{professor.last_name}
                        -} else {
                        h1 #{professor.first_name} #{professor.last_name}
                        -}
                        h3 #{professor.email}
                        h3 Department: #{professor.department}
                        a.btn.btn-success.pull-right(href='/professor/#{professor.id}/meet/') Request a meet
