extends layout
block content
    div.container
        h3.col-md-offset-3 Update Profile
        div.well.row.col-md-offset-3.col-md-6
            div.row.well
                form.form-horizontal(method='post' action='/profilePicUpload/' enctype='multipart/form-data')
                    h4 Profile Picture
                    div.well
                        -if(user.photo_url) {
                        img(src="#{user.photo_url}" width="250px")
                        -} else {
                        img(src="/images/anon.jpg" width="250px")
                        -}
                    div
                        input.col-md-6(type='file' name='profilePic')
                        small The maximum file size allowed is 100KB.
                        button.btn.btn-success.col-md-3.pull-right(type = 'submit') Upload
            div.row
                form.form-horizontal(method='post', action ='')
                    div.form-group.row
                        label.col-md-3.control-label Name
                        div.col-md-4
                            input.form-control(type="text" name="firstName" placeholder="First Name" value="#{user.first_name}")
                        div.col-md-4
                            input.form-control(type="text" name="lastName" placeholder="Last Name" value="#{user.last_name}")
                    div.form-group.row
                        label.col-md-3.control-label Username
                        div.col-md-8
                            fieldset(disabled)
                                input.form-control(type="text" value="#{user.login}")
                    div.form-group.row
                        label.col-md-3.control-label Email
                        div.col-md-8
                            fieldset(disabled)
                                input.form-control(type="text" value="#{user.email}")
                    div
                        button.btn.btn-success.col-md-3.pull-right(type = 'submit') Update